body,
html,
#root {
    background-color: #181818;
    color: #fff;
}

.btn-fixed-width {
    max-width: 38px;
    min-width: 38px;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
}

.btnum-fixed-width {
    min-width: 30px;
    max-width: 30px;
    min-height: 25px;
    padding: 1px;
    text-align: center;
    font-size: 12px;
}

.col-versiculos {
    height: 100dvh;
    /* Ajusta según tu preferencia */
    display: flex;
    flex-direction: column;
}

.versiculos-scroll {
    flex: 1;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
}